# Database Configuration
DB_USER=hobits
DB_PASSWORD=password
DB_NAME=hobits
DB_PORT=5432

# Telegram Bot Configuration
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# gRPC Configuration
GRPC_SERVER_ADDR=hobits-service:50051
LOG_LEVEL=info

# RabbitMQ Configuration
RABBITMQ_USER=guest
RABBITMQ_PASS=guest

# Grafana Configuration
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# Environment
ENV=docker
